{% extends 'landing/base.html' %}

{% load static %}

{% block body %}
    <div class="position-absolute start-50 translate-middle-x">
        <h2>Флаги<img src="{% static 'landing/img/roflan-pominki.png' %}" alt="" width="45" height="45"></h2>
    </div>
    <div class="container mt-5 w-75 p-3">
        <p>
            Регистр флагов – это регистр состояния, содержащий текущее состояние процессора. Обычно он отражает
            результат
            арифметических операций и информацию об ограничениях, накладываемых на работу процессора в момент выполнения
            команды.
        </p>
        <img src="{% static 'landing/img/flags.png' %}" alt="">
        <p>Обычно флаг может принимать одно из двух логических значений. Флаги устанавливаются в 1 при определённых
            условиях
            или установка флага в 1 изменяет поведение процессора.</p>
        <p>Флаг установлен, если значение соответствующего ему бита равно 1.</p>
        <p>Флаг сброшен, если значение соответствующего ему бита равно 0.</p>

        <table class="position-absolute start-50 translate-middle-x" style="padding-bottom: 20px">
            <tr>
                <th><strong>Бит</strong></th>
                <th><strong>&nbsp&nbspОбозначение</strong></th>
                <th><strong>&nbsp&nbsp&nbsp&nbspОписание</strong></th>
            </tr>
            <tr>
                <td>0</td>
                <td>CF</td>
                <td><strong>Флаг переноса</strong>. Устанавливается в 1, если результат предыдущей операции не уместился
                    в
                    приёмнике и произошёл перенос из старшего бита или если требуется заём (при вычитании). Иначе
                    установлен
                    в 0
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Зарезервирован.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>PF</td>
                <td><strong>Флаг чётности</strong>. Устанавливается в 1, если младший байт результата предыдущей команды
                    содержит чётное количество битов, равных 1. Если количество единиц в младшем байте нечётное, то этот
                    флаг равен 0.
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>0</td>
                <td>Зарезервирован.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>AF</td>
                <td><strong>Вспомогательный флаг переноса</strong> (или <strong>флаг полупереноса</strong>).
                    Устанавливается
                    в 1, если в результате предыдущей операции произошёл перенос (или заём) из третьего бита в
                    четвёртый.
                    Этот флаг используется автоматически командами двоично-десятичной коррекции.
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>0</td>
                <td>Зарезервирован.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>ZF</td>
                <td><strong>Флаг нуля</strong>. Устанавливается 1, если результат предыдущей команды равен 0.</td>
            </tr>
            <tr>
                <td>7</td>
                <td>SF</td>
                <td><strong>Флаг знака</strong>. Этот флаг всегда равен старшему биту результата.</td>
            </tr>
            <tr>
                <td>8</td>
                <td>TF</td>
                <td><strong>Флаг трассировки</strong> (или <strong>флаг ловушки</strong>). Он был предусмотрен для
                    работы
                    отладчиков в пошаговом выполнении, которые не используют защищённый режим. Если этот флаг установить
                    в
                    1, то после выполнения каждой программной команды управление временно передаётся отладчику
                    (вызывается
                    прерывание 1).
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>IF</td>
                <td><strong>Флаг разрешения прерываний</strong>. Если сбросить этот флаг в 0, то процессор перестанет
                    обрабатывать прерывания от внешних устройств. Обычно его сбрасывают на короткое время для выполнения
                    критических участков программы.
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>DF</td>
                <td><strong>Флаг направления</strong>. Контролирует поведение команд обработки строк. Если установлен в
                    1,
                    то строки обрабатываются в сторону уменьшения адресов, если сброшен в 0, то наоборот
                </td>
            </tr>
            <tr>
                <td>11</td>
                <td>OF</td>
                <td><strong>Флаг переполнения</strong>. Устанавливается в 1, если результат предыдущей арифметической
                    операции над числами со знаком выходит за допустимые для них пределы. Например, если при сложении
                    двух
                    положительных чисел получается число со старшим битом, равным единице, то есть отрицательное. И
                    наоборот.
                </td>
            </tr>
        </table>
    </div>
{% endblock body %}

